<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <img src="/assets/images/birbucuk-logo.svg" alt="birbuçuk logo" height="45"/>
  <div class="navbar-brand-container mr-auto">
    <a class="navbar-brand" pageScroll href="#main">
      <span class="brand-name">birbuçuk</span>
      <span class="text-muted">Ekoloji ve Sanat Çalışmaları</span>
    </a>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="hidden-xs">Odaklar</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <a *ngFor="let post of posts" class="dropdown-item" [routerLink]="['/', post?.slug]" [href]="'#' + post?.slug" pageScroll [innerHTML]="post?.title"></a>
    </div>
  </div>
</nav>
