body {
  padding-top: 100px;
  padding-bottom: 80px;
}

.container {
  width: auto;
  max-width: 720px;
  padding: 0 15px;

  img {
    max-width: 100%;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
   h2 {
    margin-top: 10px;
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  body {
    padding-bottom: 0;
  }
}
