<app-navbar [posts]="posts"></app-navbar>

<div class="container-fluid" id="main">
  <p>birbuçuk Projesi, bir bilim dalı ve toplumsal-politik hareket olarak ekoloji etrafında şekillenen çalışmalarda ortaya çıkan bilgi ve önerileri görsel sanatlar, sahne sanatları ve tasarım gibi yaratıcı mecralarda tekrar okumayı ve tartışmayı amaçlıyor.</p>
  <p>Bir sene boyunca her ay ekolojinin çeşitli konu başlıkları kapsamında yapılacak toplantılarda, bilim, aktivizm ve sanat alanlarındaki kesişme noktalarını, diyalog ve bilgi birlikteliği imkânlarını araştırıyor. birbuçuk, konu üzerine çalışan ya da yeniden düşünmeye, araştırmaya ve üretmeye niyetli katılımcıların bir araya geleceği toplantılar serisine, “Su” konusuyla Haziran ayında başlıyor.</p>
  <p>birbuçuk, çalışmalarına iklim değişikliği ve enerji ekonomisti, dansçı Ayşe Ceren Sarı, çevre/sistem bilimci, sanatçı Serkan Kaptan ve küratör, sanat yazarı Yasemin Ülgen’in koordinasyonunda devam ediyor.</p>

  <content [id]="post?.slug" *ngFor="let post of posts">
    <markdown [path]="'/assets/pages/' + post.slug + '.md'"></markdown>
  </content>
</div>

<footer class="mainFooter">
  <p>&copy 2017 | <a href="#" title="birbucuk.com"> https://www.birbucuk.com</a></p>
</footer>

